.our-team{
    box-shadow: 0px 0px 4px #aaa;
    padding-top: 1rem;
    border-top: 1px solid #c4c4ce;
}
.test-top > .dual-line{
    margin: auto;
}

.dual-line > h2 {
  margin: 0 0.7rem;
}
.vision-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.vision-container .vision-1{
  max-width: 40%;
  background-color: var(--dark-blue-bg);
  padding: 2rem;
  margin: 1rem;
  border-radius: 3px;
  color: var(--text-color-1);
  text-align: justify;
  text-justify: inter-word;
}

.vision-1 h3{
  margin-bottom: 1rem;
}


.history{
  text-align: center;
  padding: 2rem;
  margin: 1rem auto;
  width: 70%;
  background-color: var(--dark-blue-bg);
  color: var(--brand-color);
  border-radius: 3px;
  text-align: center;
  /* text-justify: inter-word; */
}

.history p{
  text-align: center;
}

.history h2{
  margin-bottom: 1.5rem;
}

.history h3{
  margin-bottom: 1.5rem;
  color: var(--brand-color);
}

.history p{
  margin-top: 1.5rem;
}

@media (max-width:640px){
  .vision-1{
    max-width: 350px !important;
  }
}