.dropdownProd {
  --brand-color: #feba12;
  --brand-color-light: #fad16b;
  --yellow-shadow: #b1820c;
  --logo-bg-blue: #4560af;
  --dark-blue-sidebar-bg: #1b1525;
  position: absolute;
  top: 2.3rem;
  padding: 0.3rem 0.2rem;
  min-width: 12rem;
  border: 1px solid black;
  background-color: var(--brand-color);
  display: flex;
  flex-direction: column;
  z-index: 7;
  border: none;
}

.dropdown-list a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  z-index: 9;
}
.dropdown-list {
  padding: 0.4rem 0rem 0.4rem 0.5rem;
  border-bottom: 1px solid #96a5d1;
  z-index: 8;
}
.dropdown-list:hover {
  background-color: #2347b4;
}
