.sidebar {
  --brand-color: #feba12;
  --brand-color-light: #fad16b;
  --yellow-shadow: #b1820c;
  --logo-bg-blue: #4560af;
  --dark-blue-sidebar-bg: #1b1525;
  width: 100%;
  /* min-height: 130vh; */
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  /* overflow: hidden; */
  transition: all 0.3s ease-in-out;
}

.sidebar-hide {
  left: -100%;
}
.inner-sidebar {
  max-width: 35%;
  background-color: var(--brand-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: sticky;
  top: 0;
}
.sidebar-r {
  width: 100%;
}
.side-icon {
  width: 70%;
  padding: 0.5rem 0;
}
.side-icon img {
  width: 100%;
}
.side-lists {
  display: flex;
  flex-direction: column;
}
.sidebar-social {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem 1rem 0;
  border: none;
  border-top: 1px solid #96a5d1;
}
.sidebar-social i {
  font-size: 1.5rem;
  color: var(--logo-bg-blue);
}
.social-list {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  border: none;
  transition: all 0.4s ease-in-out;
}
.social-list:hover {
  font-weight: 700;
  background-color: var(--logo-bg-blue);
  cursor: pointer;
}
.social-list:hover .fa-brands {
  color: #fff;
  font-weight: 700;
}

.side-list {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.4rem 0rem 0.4rem 0.5rem;
  border-bottom: 1px solid #96a5d1;
  margin-left: 0.7rem;
  transition: all 0.1s ease-in-out;
}
.selectedText {
  color: var(--logo-bg-blue);
  font-weight: 500;
}
.sl-list {
  margin-left: 1rem;
}

.add,
.remove {
  font-weight: 700;
}
.hideClass {
  display: none;
}

.side-listContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-list:hover {
  background-color: #2347b4;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 768px) {
  .inner-sidebar {
    max-width: 50%;
  }
}
@media (max-width: 470px) {
  .inner-sidebar {
    max-width: 90%;
  }
}

/* .fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
} */

