.otherImages {
  display: flex;
  flex-wrap: wrap;
}
.otherImages > img {
  width: 45%;
}
@media (max-width: 768px) {
  .otherImages > img {
    width: 85%;
  }
  .sec2-prod-left.giftcity{
    text-align: center;
  }
}
